@charset "UTF-8";

body {
	padding: 0 !important;
	margin: 0 !important;
}

.menubar-conta {
	padding: 0 !important;
	background-color: #00FF7F !important;
	border-radius: 0 !important;
	border: 0 !important;
}

.menuitem-conta span {
	color: #000000 !important;
}

.menuitem-conta:hover {
	background-color: #FFFFFF !important;
	border-radius: 0 !important; 
}